
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Promoter Real estate Category Bootstrap responsive Web Template | About :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Promoter a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Sales Inquiry Form Responsive Widget Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/css/owl.theme.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css" media="screen" property="" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet">
    <link href="~///fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="~///fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <!-- css files -->
    <link href="~/css/stylee.css" rel="stylesheet" type="text/css" media="all">
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="~///fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>

<body>
    <div class="mian-content-wthree inner">
        <div class="container">
            <header>
                <!-- top -->
                <div class="top-head-w3ls text-left">
                    <div class="row top-content-info">
                        <div class="col-lg-5 top-content-left">
                            <h6>Have any Quastions?</h6>
                        </div>
                        <div class="col-lg-7 top-content-right">
                            <div class="row">
                                <div class="col-md-6 callnumber text-left">
                                    <h6>Call Us : <span>1234567890</span></h6>
                                </div>
                                <div class="col-md-6 top-social-icons p-0">
                                    <ul class="social-icons d-flex justify-content-end">
                                        <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                        <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- top -->
                <div class="clearfix"></div>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="logo text-left">
                        <h1>
                            <a class="navbar-brand" href="HomePage">
                                Promoter
                            </a>
                        </h1>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">

                        </span>

                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-right">
                            <li class="nav-item">
                                <a class="nav-link" href="HomePage">
                                    Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Services
                                    <i class="fas fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="services.html">Services</a>
                                    <a class="dropdown-item" href="services.html" title="">Services 1</a>

                                    <a class="dropdown-item" href="single.html" title="">Single Page</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="price.html">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>

                        </ul>

                        <div class="log-in">
                            <a class="btn text-uppercase" href="#" data-toggle="modal" data-target="#exampleModalCenter">
                                Log In
                            </a>
                        </div>
                    </div>

                </nav>
            </header>
            <div class="slide-caption">

            </div>
        </div>
    </div>
    <!-- end of main image slider container -->
    <!-- /breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>
    <!-- //breadcrumb -->
    <!-- banner-text -->
    <!-- banner-bottom-w3-agile -->
    <section class="banner-bottom-w3-agile py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <div class="row">
                    <div class="col-lg-5 about-img">
                        <div class="row">
                            <div class="col-md-6 colour-gd">
                                <div class="colour-one">
                                </div>
                            </div>
                            <div class="col-md-6 colour-gd">
                                <div class="colour-two">
                                </div>
                            </div>
                            <div class="col-md-6 colour-gd">
                                <div class="colour-three">
                                </div>
                            </div>
                            <div class="col-md-6 colour-gd">
                                <div class="colour-four">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 about-right">
                        <h4>Who We Are</h4>
                        <h3>We give you complete control of your Promoters.</h3>
                        <p class="my-4">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type.Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>

                        <ul class="author d-flex">
                            <li><img class="img-fluid" src="images/author.jpg" alt=""></li>
                            <li><span>Admin Name</span>Comany Name</li>
                        </ul>
                        <div class="log-in mt-md-5 mt-3">
                            <a class="btn text-uppercase" href="single.html">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-bottom-w3-agile -->
    <!--header-->
    <div class="bodya">
        <div class="agile-header">
            <h1>Sales Inquiry Form</h1>
            <p>If you have any queries on Sales please take a moment to fill up this form and one of our sales representative will contact you soon.</p>
        </div>
        <!--//header-->
        <!--main-->
        <div class="agileits-main">
            <div class="wrap">
                <form action="" method="post">
                    <ul>
                        <li class="text">Plot Name  :  </li>
                        <li><input name="PlotName" type="text" required></li>
                    </ul>
                    <ul>
                        <li class="text">Plot Size  :  </li>
                        <li><input name="PlotSize" type="text" required></li>
                    </ul>
                    <ul>
                        <li class="text">Plot Location  :  </li>
                        <li><input name="PlotLocation" type="text" required></li>
                    </ul>
                    <ul>
                        <li class="text">Market Price  :  </li>
                        <li><input name="MarketPrice" type="text" required></li>
                    </ul>
                    <ul>
                        <li class="text">Plot Image  :  </li>
                        <li><input name="PlotImageName" type="file" required></li>
                    </ul>
                    <ul>
                        <li class="text">Plot Image Location  :  </li>
                        <li><input name="PlotImageLocation" type="text" required></li>
                    </ul>

                    <div class="clear"></div>
                    <div class="agile-submit">
                        <button type="submit">Submit</button>
                        <input type="reset" value="reset">
                    </div>
                </form>
            </div>
        </div>
        <!--//main-->
        <!--footer-->
        <div class="footer-w3">
            <p>&copy; 2016 Sales Inquiry Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
    <!--//footer-->
    <!-- ab -->
    <section class="banner-bottom-w3-agile bg-light py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <div class="intro text-center">
                    <h3 class="tittle-w3ls text-center">What Are you Looking For?</h3>
                    <p class="mb-md-5 mb-4">Adipisicing elit sedc eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="row mt-lg-5 mt-md-4 mt-4">
                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-service"><i class="far fa-building"></i></div>
                                <div class="icon-service-info">
                                    <h5 class="card-title">Apartments</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur elit tempor.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">

                                <div class="icon-service"><i class="fas fa-home"></i></div>
                                <div class="icon-service-info">
                                    <h5 class="card-title">Houses</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur elit tempor.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-service"><i class="fas fa-unlock"></i></div>
                                <div class="icon-service-info">
                                    <h5 class="card-title">
                                        Security
                                    </h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur elit tempor.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-service"><i class="fas fa-headphones"></i></div>
                                <div class="icon-service-info">
                                    <h5 class="card-title">
                                        Support 24/7
                                    </h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur elit tempor.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-service"><i class="fas fa-users"></i></div>

                                <div class="icon-service-info">
                                    <h5 class="card-title">
                                        Trusted Agents
                                    </h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur elit tempor.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-service"><i class="far fa-money-bill-alt"></i></div>
                                <div class="icon-service-info">
                                    <h5 class="card-title">Commercial</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur elit tempor.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- //ab -->
    <!--footer -->
    <footer class="footer-emp-w3ls py-md-5 py-4">
        <div class="container">
            <div class="newsletter-inner mb-3">
                <h3 class="tittle-w3ls foot text-left mb-lg-4 mb-3">
                    Don't forget to Sign up
                </h3>
                <div class="newsright mb-lg-4 mb-3">
                    <form action="#" method="post" class="d-flex">
                        <input class="form-control" type="email" placeholder="" name="email" required="">
                        <input class="form-control" type="submit" value="Subscribe">
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
            <div class="row footer-top mt-lg-5">
                <div class="col-lg-4 footer-grid-wthree">
                    <div class="footer-title">
                        <h3>About Us</h3>
                    </div>
                    <div class="footer-text">
                        <p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt.</p>
                        <ul class="social-icons footer-icons d-flex mt-3">
                            <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                            <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 footer-grid-wthree">
                    <div class="footer-title">
                        <h3>Get in touch</h3>
                    </div>
                    <div class="contact-info">
                        <h4>Location :</h4>
                        <p>8088 k 4th block building, Honey Avenue, New York City.</p>
                        <div class="phone">
                            <h4>Contact :</h4>
                            <p>Phone : +121 098 8907 9987</p>
                            <p>
                                Email :
                                <a href="mailto:info@example.com">info@example.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 footer-grid-wthree">
                    <div class="footer-title">
                        <h3>Quick Links</h3>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="price.html">Plans</a>
                        </li>
                        <li>
                            <a href="services.html">Services</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="links">
                        <li>
                            <a href="services.html">Features</a>
                        </li>
                        <li>
                            <a href="contact.html">Support</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Login</a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="copyright-w3ls mt-4">
                <p class="copy-right text-center ">
                    &copy; 2018 Promoter. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/"> W3layouts </a>
                </p>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!--model-forms-->
    <!--/Login-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Login Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="mb-2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                            <p class="text-center pb-4">
                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter2"> Don't have an account?</a>
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Login-->
    <!--/Register-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Register Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>First name</label>

                                <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                            </div>

                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="" required="">
                            </div>

                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                            <p class="text-center pb-4">
                                <a href="#">By clicking Register, I agree to your terms</a>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->
    <!--//model-form-->
    <!-- js -->
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <!-- carousel -->
    <script src="~/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    900: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!--/ start-smoth-scrolling -->
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                          containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                     };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->
    <!-- /js -->
    <script src="~/js/bootstrap.js"></script>
    <!-- //js -->
</body>
</html>